@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Libre+Franklin:400,700");
#splash {
  position: relative;
  width: 100vw;
  height: 100%;
  background-image: url("/images/splash.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; }
  #splash #splash-img img {
    width: 100%;
    height: auto;
    /*
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);*/ }
  #splash #splash-overlay {
    width: 100%;
    height: 100%;
    position: absolute; }
  #splash #splash-text {
    padding: 0px;
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-block; }
    #splash #splash-text p {
      position: relative;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Libre Franklin', sans-serif;
      font-size: 3.4em;
      font-weight: 700;
      background-color: rgba(0, 0, 0, 0.25);
      color: #FFFFFF;
      border-radius: 2px;
      padding: 15px 35px;
      width: 300px;
      max-width: 75%;
      text-align: center; }
      @media screen and (min-width: 320px) and (max-width: 667px) {
        #splash #splash-text p {
          font-size: 2.5em;
          width: 175px;
          padding: 8px 20px; } }
  #splash #splash-buttons {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center; }
    @media screen and (min-width: 320px) and (max-width: 667px) and (orientation: portrait) {
      #splash #splash-buttons {
        top: 55%; } }
    #splash #splash-buttons p {
      display: inline-block;
      font-family: 'Libre Franklin', sans-serif;
      font-size: 1.2em;
      font-weight: 400;
      background-color: rgba(0, 0, 0, 0.6);
      color: #FFFFFF;
      border: 4px solid white;
      border-radius: 2px;
      padding: 15px 35px;
      margin: 0px 40px;
      cursor: pointer; }
      #splash #splash-buttons p:hover {
        transition: 0.2s;
        background-color: rgba(0, 0, 0, 0.8); }
      @media screen and (min-width: 320px) and (max-width: 667px) {
        #splash #splash-buttons p {
          margin: 0px 40px 25px; } }
  #splash #splash-scroll-icon {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer; }
    @media screen and (min-width: 320px) and (max-width: 667px) {
      #splash #splash-scroll-icon {
        bottom: 20px; } }
    #splash #splash-scroll-icon i {
      color: rgba(0, 0, 0, 0.8);
      font-size: 50px; }
      #splash #splash-scroll-icon i:hover {
        transition: 0.2s;
        font-size: 52px; }

#about {
  width: 100%;
  height: auto;
  background-color: #02030c; }
  #about p {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
    line-height: 2.2em;
    color: white;
    width: 70%;
    padding-top: 60px;
    padding-bottom: 60px; }

#pictures {
  padding-bottom: 30px; }
  #pictures .ngy2_container {
    background-color: #02030c;
    margin: 0px 8%; }

.nGY2ViewerMedia {
  width: 50% !important;
  min-width: 400px;
  max-width: 100%;
  height: auto !important; }

.toolbarContainer {
  display: none !important; }

.nGY2ViewerToolsTopRight .ngy2viewerToolAction:not(.closeButton) {
  display: none !important; }

#videos h1 {
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  font-size: 40px;
  color: white; }
#videos #videos-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  width: 84%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer; }
  #videos #videos-flex .video-box {
    margin: 0px 0.8% 40px 0.8%;
    height: 250px;
    min-width: 31%;
    background-size: cover;
    background-repeat: no-repeat; }
    @media only screen and (min-width: 668px) and (max-width: 1080px) {
      #videos #videos-flex .video-box {
        min-width: 45%; } }
    @media only screen and (min-width: 481px) and (max-width: 667px) {
      #videos #videos-flex .video-box {
        min-width: 98.4%; } }
    @media only screen and (max-width: 480px) {
      #videos #videos-flex .video-box {
        min-width: 98.4%;
        height: 200px; } }
    #videos #videos-flex .video-box .video-box-overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
      transition: 0.2s;
      position: relative; }
      #videos #videos-flex .video-box .video-box-overlay a {
        display: none;
        font-family: "Libre Baskerville";
        text-align: center;
        text-decoration: none;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        width: 90%;
        transition: 0.2s; }
      #videos #videos-flex .video-box .video-box-overlay:hover {
        background-color: rgba(0, 0, 0, 0.5); }
        #videos #videos-flex .video-box .video-box-overlay:hover a {
          display: inline-block; }

#contact h1 {
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  font-size: 40px;
  color: white; }
#contact form {
  width: 60%;
  position: relative;
  left: 50%;
  transform: translateX(-50%); }
  #contact form label {
    display: block;
    color: white;
    font-family: "Libre Baskerville", serif;
    margin-bottom: 8px; }
  #contact form input, #contact form textarea {
    font-family: "Libre Baskerville", serif;
    line-height: 1.5em;
    padding-left: 10px;
    width: 100%;
    background-color: #02030c;
    color: white;
    border: 2px solid white;
    border-radius: 2px;
    margin-bottom: 12px; }
  #contact form input {
    height: 50px; }
  #contact form textarea {
    height: 300px;
    z-index: 1; }
  #contact form .container {
    width: 200px;
    height: 200px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  #contact form .btn {
    width: 100px;
    height: 100px;
    border: none;
    color: inherit;
    background: none;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    outline: none;
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  #contact form .btn img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  #contact form .btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  #contact form .bg {
    height: 32px;
    width: 32px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  #contact form .btn-boarder {
    border: 2px solid #fff;
    border-radius: 50%; }
  #contact form .animation {
    -webkit-transform: translate(100px, -100px);
    -moz-transform: translate(100px, -100px);
    -o-transform: translate(100px, -100px);
    -ms-transform: translate(100px, -100px);
    transform: translate(100px, -100px);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  #contact form .animation2 {
    -webkit-animation: fadeIn 0.4s ease-out;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 0.4s;
    -moz-animation: fadeIn 0.4s ease-out;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
    -moz-animation-delay: 0.4s;
    animation: fadeIn 0.4s ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.4s; }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  #contact form .around {
    width: 101px;
    height: 101px;
    border: none;
    color: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    outline: none;
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  #contact form .around:after {
    content: '';
    position: absolute;
    z-index: -1; }
  #contact form .around-boarder {
    border: 50px solid #02030c;
    border-radius: 50%;
    z-index: 2; }

html, body {
  margin-top: 0px;
  padding-top: 0px;
  width: 100%;
  height: 100%;
  background-color: #02030c; }

p {
  padding: 0px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em; }

/*# sourceMappingURL=main.css.map */
