@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Libre+Franklin:400,700");
#splash {
  position: relative;
  width: 100vw;
  height: 100%;
  background-image: url("/images/splash.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; }
  #splash #splash-img img {
    width: 100%;
    height: auto;
    /*
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);*/ }
  #splash #splash-overlay {
    width: 100%;
    height: 100%;
    position: absolute; }
  #splash #splash-text {
    padding: 0px;
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-block; }
    #splash #splash-text p {
      position: relative;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Libre Franklin', sans-serif;
      font-size: 3.4em;
      font-weight: 700;
      background-color: rgba(0, 0, 0, 0.25);
      color: #FFFFFF;
      border-radius: 2px;
      padding: 15px 35px;
      width: 300px;
      max-width: 75%;
      text-align: center; }
      @media screen and (min-width: 320px) and (max-width: 667px) {
        #splash #splash-text p {
          font-size: 2.5em;
          width: 175px;
          padding: 8px 20px; } }
  #splash #splash-buttons {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center; }
    @media screen and (min-width: 320px) and (max-width: 667px) and (orientation: portrait) {
      #splash #splash-buttons {
        top: 55%; } }
    #splash #splash-buttons p {
      display: inline-block;
      font-family: 'Libre Franklin', sans-serif;
      font-size: 1.2em;
      font-weight: 400;
      background-color: rgba(0, 0, 0, 0.6);
      color: #FFFFFF;
      border: 4px solid white;
      border-radius: 2px;
      padding: 15px 35px;
      margin: 0px 40px;
      cursor: pointer; }
      #splash #splash-buttons p:hover {
        transition: 0.2s;
        background-color: rgba(0, 0, 0, 0.8); }
      @media screen and (min-width: 320px) and (max-width: 667px) {
        #splash #splash-buttons p {
          margin: 0px 40px 25px; } }
  #splash #splash-scroll-icon {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer; }
    @media screen and (min-width: 320px) and (max-width: 667px) {
      #splash #splash-scroll-icon {
        bottom: 20px; } }
    #splash #splash-scroll-icon i {
      color: rgba(0, 0, 0, 0.8);
      font-size: 50px; }
      #splash #splash-scroll-icon i:hover {
        transition: 0.2s;
        font-size: 52px; }

#about {
  width: 100%;
  height: auto;
  background-color: #02030c; }
  #about p {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
    line-height: 2.2em;
    color: white;
    width: 70%;
    padding-top: 60px;
    padding-bottom: 60px; }

#pictures {
  padding-bottom: 30px; }
  #pictures .ngy2_container {
    background-color: #02030c;
    margin: 0px 8%; }

.nGY2ViewerMedia {
  width: 50% !important;
  min-width: 400px;
  max-width: 100%;
  height: auto !important; }

.toolbarContainer {
  display: none !important; }

.nGY2ViewerToolsTopRight .ngy2viewerToolAction:not(.closeButton) {
  display: none !important; }

html, body {
  margin-top: 0px;
  padding-top: 0px;
  width: 100%;
  height: 100%;
  background-color: #02030c; }

p {
  padding: 0px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em; }

/*# sourceMappingURL=main.css.map */
