#pictures {
    padding-bottom: 30px;

    h1 {
        text-align: center;
        font-family: "Libre Franklin", sans-serif;
        font-size: 40px;
        color: rgb(255,255,255);
    }
    
    .ngy2_container {
        background-color: $blueblack;
        margin: 0px 8%;
    }

}

.nGY2ViewerMedia {
    width: 50% !important;
    min-width: 400px;
    max-width: 100%;
    height: auto !important;
}

.toolbarContainer {
    display: none !important;
}

.nGY2ViewerToolsTopRight .ngy2viewerToolAction:not(.closeButton) {
    display: none !important;
}